<div class="container">
  
    <form action="">
      <header>
      <h1>Solicitar cita</h1>
      <img src="../../../assets/img/vete2.jpg" alt="">
         
    </header>
  
     
      <label>Nombre del dueño</label>
      <input type="text" name="Usuario"> 
    
   
      <label>Cedula del dueño</label>
      <input type="text"  name="Contraseña" > 
     

   
      <label>Telefono</label>
      <input type="text"  name="Contraseña" > 
      

     
      <label>Dirección</label>
      <input type="text"  name="Contraseña" > 
        

        
      <label>Nombre de la mascota</label>
      <input type="text"  name="Contraseña" > 
          
      <label>Edad de la mascota</label>
      <input type="number"  name="Contraseña"/> 
            
      <label>Raza</label>
      <input type="text"  name="Contraseña" > 
              
      <div class="button">
      <button routerLink="/formulario-cita" ><i class="material-icons">
          done_all
          </i>Solicitar cita</button>
        </div>
   </form>
</div>
