<div class="container">
  
    <form action="">
      <header>
      
        <section>
            <h1>Formulario de solicitud de cita</h1>
              <img src="" alt="">
          </section>
    </header>
  
      <div class="">
        <label>Nombre del dueño</label>
        
      <input type="text" name="Usuario"> 
      </div>
      <br>
  
      <div class="">
      <label>Cedula del dueño</label>
      <br>
      <input type="password"  name="Contraseña" > 
      </div>

      <div class="">
          <label>Telefono</label>
          <br>
          <input type="password"  name="Contraseña" > 
      </div>

      <div class="">
          <label>Dirección</label>
          <br>
          <input type="password"  name="Contraseña" > 
        </div>

        <div class="">
            <label>Nombre de la mascota</label>
            <br>
            <input type="password"  name="Contraseña" > 
          </div>

          <div class="">
              <br>
              <label>Edad de la mascota</label>
              <input type="password"  name="Contraseña" > 
            </div>

            <div class="">
                <br>
                <label>Raza</label>
                <input type="password"  name="Contraseña" > 
              </div>
      <div class="button">
      <button routerLink="/formulario-cita" ><i class="material-icons">
          done_all
          </i>Solicitar cita</button>
        </div>
   </form>
  
    
  
     <footer>
       <p>derechos reservados</p>
     </footer>
    
  
  </div>
