
<div>
    <mat-toolbar color="primary">
        <button style="color: green" mat-stroked-button color="warn" routerLink="/index">
            <i class="material-icons">home</i> 
            MEDICAL PET
        </button>
        <div class="example-spacer"></div>
        <div class="botones">
            <button mat-stroked-button color="warn"  routerLink="/login">
                <i class="material-icons">lock_open</i>
                 Inicio de sesión
            </button>
            <button mat-stroked-button color="warn" routerLink="/formulario-registro">
                <i class="material-icons">group_add</i> Registro
            </button>
        </div>
    </mat-toolbar>
    
    <div style="display:block;"
       [style.width]="width">
    <slideshow #slideshow
               [imageUrls]="imageUrls"
               [height]="height"
               [minHeight]="minHeight"
               [arrowSize]="arrowSize"
               [showArrows]="showArrows"
               [disableSwiping]="disableSwiping"
               [autoPlay]="autoPlay"
               [stopAutoPlayOnSlide]="stopAutoPlayOnSlide"
               [debug]="debug"
               [backgroundSize]="backgroundSize"
               [backgroundPosition]="backgroundPosition"
               [backgroundRepeat]="backgroundRepeat"
               [showDots]="showDots"
               [dotColor]="dotColor"
               [showCaptions]="showCaptions"
               [captionColor]="captionColor"
               [captionBackground]="captionBackground"
               [lazyLoad]="lazyLoad"
               [hideOnNoSlides]="hideOnNoSlides">
    </slideshow>
    </div>
    <br><br>   
<router-outlet></router-outlet>
<br><br>
<app-footer></app-footer>