<div class="container">
  
        <form action="">
          <header>
          <h1>Registro de usuario</h1>
          <img src="../../../assets/img/vete3.jpeg" alt="">
             
        </header>
      
         
          <label>Nombre</label>
          <input type="text" name="Usuario"> 
        
       
          <label>Apellido</label>
          <input type="text"  name="Contraseña" > 
         
    
       
          <label>Telefono</label>
          <input type="text"  name="Contraseña" > 
          
    
         
          <label>Correo</label>
          <input type="text"  name="Contraseña" > 
            
    
            
          <label>Nombre de usuario</label>
          <input type="text"  name="Contraseña" > 
              
          <label>Contraseña</label>
          <input type="number"  name="Contraseña"/> 
                  
          <div class="button">
          <button routerLink="/login" ><i class="material-icons">
              done_all
              </i>¡Registrar!</button>
            </div>
       </form>
    </div>
    <br><br>
    