<div class="container">
  
  <form action="">
    <header>
    
      <section>
          <h1>Inicio de sesión</h1>
            <img src="../../../assets/img/vete7.jpg" alt="">
        </section>
  </header>

    <div class="usuario">
    <i class="material-icons">
    supervised_user_circle
    </i><input type="text" placeholder="Nombre del usuario" name="Usuario"> 
    </div>

    <div class="iconos">
    <i class="material-icons">
      vpn_key
      </i> <input type="password" placeholder="Contraseña del usuario" name="Contraseña" > 
    </div>
    <div class="button">
    <button routerLink="/formulario-cita" ><i class="material-icons">
        supervisor_account
        </i>Ingresar</button>
      </div>
 </form>

  

   <footer>
     <p>derechos reservados</p>
   </footer>
  

</div>

