


<div class="container">
  
  <form action="">
    <header>
    
      <section>
          <h1>Inicio de sesión</h1>
            <img src="../../../assets/img/vete7.jpg" alt="">
        </section>
  </header>

    <div class="">
    <input type="text" placeholder="Nombre del usuario" name="Usuario"> 
    </div>

    <div class="formulario">
    <div class="">
     <input type="password" placeholder="Contraseña del usuario" name="Contraseña" > 
    </div>
    <div class="button">
    <button routerLink="/formulario-cita" ><i class="material-icons">
        supervisor_account
        </i>Ingresar</button>
      </div>
    </div>
 </form>
</div>

