<div class="container">
  <header>
    
  </header>
  <form action="">
      
    <h2>Login</h2> <img src="../../../assets/img/vete7.jpg" alt="">

    <div class="usuario">
    <i class="material-icons">
    supervised_user_circle
    </i><input type="text" placeholder="  Usuario" name="Usuario"> 
    </div>

    <div class="iconos">
    <i class="material-icons">
      vpn_key
      </i> <input type="password" placeholder=" Contraseña" name="Contraseña" > 
    </div>
    <br>
    <br>
    <button routerLink="/formulario-cita"><i class="material-icons">
      vpn_key
      </i> Accent</button>
 
 </form>

  

   <footer>
     <p>derechos reservados</p>
   </footer>
  

</div>

