<div class="contenedor">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <h2>“MEDICAL PET” NUESTRA GUIA E INSPIRADOR</h2>
            <label >
                 Cuenta la tradición que a la cueva donde estaba escondido el santo, llegaban las fieras heridas o enfermas y él las curaba. Y que estos animales venían en gran cantidad a visitarlo cariñosamente. Pero un día él vio que por la cuesta arriba llegaban los cazadores del gobierno y entonces espantó a las fieras y las alejó y así las libró de ser víctimas de la cacería.

                Entonces los cazadores, en venganza, se lo llevaron preso. Su llegada a la ciudad fue una verdadera apoteosis, o paseo triunfal, pues todas las gentes, aun las que no lo conocían, salieron a aclamarlo como un verdadero santo y un gran benefactor y amigo de todos.
                
                A MEDICAL PET , tan amable y generoso, pidámosle que consiga para nosotros y nuestras amadas mascotas, con ayuda de Dios la curación de las enfermedades corporales, pero sobre todo que nos cure de la enfermedad espiritual.
                
                Propósito: Pediré a Dios que me conceda su gran fortaleza para tener fe y guardar la esperanza hasta el final de la vida. Si no pido esta gracia quizás no la reciba, pero si la pido muchas veces la voy a conseguir, porque Jesús prometió: “Todo el que pide, recibe”. 
            </label>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4"></div>   
        <div class="col-xs-12 col-sm-6 col-md-4"> 
            <h2>Los Cuidamos Los Amamos  Los Sanamos</h2>
            <label>
                Cuenta la tradición que a la cueva donde estaba escondido el santo, llegaban las fieras heridas o enfermas y él las curaba. Y que estos animales venían en gran cantidad a visitarlo cariñosamente. Pero un día él vio que por la cuesta arriba llegaban los cazadores del gobierno y entonces espantó a las fieras y las alejó y así las libró de ser víctimas de la cacería.

                Entonces los cazadores, en venganza, se lo llevaron preso. Su llegada a la ciudad fue una verdadera apoteosis, o paseo triunfal, pues todas las gentes, aun las que no lo conocían, salieron a aclamarlo como un verdadero santo y un gran benefactor y amigo de todos.
                
                A MEDICAL PET , tan amable y generoso, pidámosle que consiga para nosotros y nuestras amadas mascotas, con ayuda de Dios la curación de las enfermedades corporales, pero sobre todo que nos cure de la enfermedad espiritual.
                
                Propósito: Pediré a Dios que me conceda su gran fortaleza para tener fe y guardar la esperanza hasta el final de la vida. Si no pido esta gracia quizás no la reciba, pero si la pido muchas veces la voy a conseguir, porque Jesús prometió: “Todo el que pide, recibe”.
            </label>
        </div>
    </div>
</div>